@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,400..700;1,400..700&display=swap');

/* _____ GENERAL _____ */

:root {
  --font-title: "Cormorant Garamond", Georgia;
  --font-body: "Open Sans", Verdana;
  --bg-light: hsl(0, 0%, 100%);
  --bg-grey: hsl(0, 0%, 80%);
  --color-text: hsl(0, 0%, 20%);
  --color-text-highlight-light-bg: hsl(221, 60%, 34%);
  --color-text-highlight-dark-bg: hsl(221, 60%, 50%);
}

body {
  font-family: var(--font-body);
  color: var(--color-text);
  background-color: var(--bg-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

.bg-light {
  background-color: var(--bg-light)!important;
}

.bg-dark {
  background-color: var(--bg-grey)!important;
}


/* _____ NAVBAR _____ */

img.logo {
  max-height: 30px;
  transition: all 0.5s ease-in-out;
}

.nav-link {
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  img.logo {
    max-height: 60px;
  }
}


/* _____ HERO IMG _____ */

header p:last-child {
  margin-top: 0.5rem;
}

.hero-img-portrait {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/hero_img_portrait.jpeg  ") no-repeat center center;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.hero-img-landscape {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/hero_img_landscape.jpeg") no-repeat center center;
  background-size: cover;
  padding: 0;
  margin: 0;
}


/* _____ FOOTER _____ */

.social {
  font-size: 2rem;
}

.social a {
  color: var(--font-body);
}

.social a i:hover {
  color: var(--color-text-highlight-dark-bg);
  transition: all 0.2s ease-in-out;
}

.social span {
  font-size: 1.5rem;
}

.copy-rel-sm {
  position: relative;
}

.copyright {
  position: absolute;
  width: max-content;
  left: 50%;
  bottom: -35px;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .copy-rel-md {
    position: relative;
  }
  .copyright {
    font-size: 0.8rem;
    left: 115px;
    bottom: -50px;
  }
}