@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,400..700;1,400..700&display=swap');

/* _____ GENERAL _____ */

:root {
  --font-title: "Cormorant Garamond", Georgia;
  --font-body: "Open Sans", Verdana;
  --bg-light: hsl(240, 100%, 99%);
  --bg-grey: hsl(0, 0%, 80%);
  --bg-grey-darker: hsl(0, 0%, 60%);
  --color-text: hsl(0, 0%, 20%);
  --bg-highlight-dark: hsl(221, 60%, 34%);
  --bg-highlight-dark-hover: hsl(221, 60%, 34%, 0.8);
  --bg-highlight-darker: hsl(221, 60%, 23%);
  --bg-highlight-light: hsl(221, 60%, 50%);
  --bg-alert: hsl(37, 100%, 50%);
  --bg-alert-hover: hsla(37, 100%, 50%, 0.8);
  --bg-warning: hsl(20, 100%, 37%);
  --bg-warning-hover: hsl(20, 100%, 37%, 0.8);
  --bg-validation: hsl(105, 100%, 37%);
}

body {
  font-family: var(--font-body);
  color: var(--color-text);
  background-color: var(--bg-light);
}

.bg-light {
  background-color: var(--bg-light)!important;
}

.bg-dark {
  background-color: var(--bg-grey)!important;
}

.bg-color {
  background-color: var(--bg-highlight-darker);
}


/* _____ FONTS _____ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h2,
.h2 {
  font-size: calc(1.325rem + 1vw);
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.70vw);
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.5vw);
}

h5,
.h5 {
  font-size: calc(1.25rem + 0.3vw);
}

h6,
.h6 {
  font-size: calc(1.10rem + 0.25vw);
}


/* _____ BUTTONS _____ */

.btn {
  border-color: hsl(210, 11%, 15%);
  color: white;
}

.btn:focus {
  box-shadow: 0 0 0 0.25rem hsl(221, 60%, 34%, 0.25);
}

.btn-bg-dark {
  background-color: var(--bg-highlight-dark);
  border-color: var(--bg-highlight-darker);
}

.btn-bg-dark:hover,
.btn-bg-dark:active {
  background-color: var(--bg-highlight-dark-hover);
  color: white;
}

.btn-bg-light {
  background-color: var(--bg-grey);
  border-color: var(--color-text);
}

.btn-bg-light:hover,
.btn-bg-light:active {
  background-color: var(--bg-grey-darker);
}

.btn-actions {
  margin: auto 16px;
  width: 70px;
}

.btn-edit {
  background-color: var(--bg-alert);
}

.btn-edit:hover,
.btn-edit:active {
  background-color: var(--bg-alert-hover);
  color: white;
}

.btn-delete {
  background-color: var(--bg-warning);
}

.btn-delete:hover,
.btn-delete:active {
  background-color: var(--bg-warning-hover);
  color: white;
}

.btn-bg-dark:disabled {
  background-color: var(--bg-grey);
  color: var(--color-text);
}


/* _____ LINKS _____ */

.link {
  color: var(--bg-highlight-darker);
  text-decoration: none;
  border-bottom: solid var(--bg-highlight-dark) 0.3rem;
  display: inline-block;
  line-height: 1.05;
  text-shadow: 1px 1px var(--bg-light), 1px -1px var(--bg-light), -1px 1px var(--bg-light), -1px -1px var(--bg-light);
}

.link:hover,
.link:active {
  color: var(--bg-highlight-darker);
  border-bottom: solid var(--bg-highlight-light) 0.3rem;
}


/* _____ INPUTS _____ */

.form-check-input:checked {
  background-color: var(--bg-highlight-dark);
  border-color: var(--bg-highlight-dark);
}

.form-control:focus,
.form-select:focus {
  box-shadow: 0 0 0 0.25rem hsl(221, 60%, 34%, 0.25);
  border-color: hsl(221, 60%, 34%, 0.25);
}


/* _____ TOASTS _____ */

.toast-container {
  position: fixed;
  z-index: 999;
}

.toast-flash-messages {
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  background-color: var(--bg-highlight-dark);
  box-shadow: 0px 0px 5px 1px var(--bg-light);
}

.toast {
  position: fixed;
  z-index: 998;
}

.toast a {
  text-decoration: none;
}

.toast-header {
  font-family: var(--font-title);
  font-size: 1.5rem;
}


/* _____ TOOLTIPS _____ */

.tooltip-inner {
  background-color: var(--bg-highlight-dark);
  border-color: var(--bg-highlight-darker);
}

.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--bg-highlight-dark);
}


/* _____ DIVIDERS _____ */

.divider {
  margin: 1.5rem 0;
  width: 50%;
}

@media screen and (min-width: 576px) {
  .divider {
    width: 40%;
  }
}


/* _____ NAVBAR _____ */

img.logo {
  max-height: 30px;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 1200px) {
  img.logo {
    max-height: 60px;
  }
}

.nav-link {
  text-transform: uppercase;
}

.navbar-shadow {
  box-shadow: 0 2px 4px 0 hsl(0, 0%, 70%);
}

.sign-in-up-links {
  display: flex;
  align-items: center;
}

#navbar-sign-in-up-divider {
  padding: 0 0.2rem;
}

.dropdown-menu {
  max-width: 950px;
  min-width: fit-content;
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  .dropdown-menu {
    width: 60vw;
  }
}

.dropdown-lot {
  white-space: normal;
  word-break: break-word;
}

.nav-lot-auction-date {
  font-size: smaller;
  align-self: center;
}


/* _____ HERO IMG _____ */

.hero-section p:last-child {
  margin-top: 0.5rem;
}

.hero-img-portrait {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/hero_img_portrait.jpeg  ") no-repeat center top;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.hero-img-landscape {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../img/hero_img_landscape.jpeg") no-repeat center top;
  background-size: cover;
  padding: 0;
  margin: 0;
}


/* _____ SLIDER _____ */

.glide {
  padding: 0;
}

.glide__arrow {
  padding: 0;
  border: 0;
  font-size: 3rem;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.1s;
  transform: translateZ(0);
  transition-property: transform;
  transition-timing-function: ease-out;
  opacity: 0.75;
  color: var(--bg-highlight-dark);
  box-shadow: none;
}

.glide__arrow--left:hover,
.glide__arrow--left:active {
  transform: translateX(-0.15em);
}

.glide__arrow--right:hover,
.glide__arrow--right:active {
  transform: translateX(0.15em);
}

.glide__arrow--left {
  left: -0.1em;
}

.glide__arrow--right {
  right: -0.1em;
}


/* _____ AUCTION _____ */

.card {
  height: 520px;
}

.card-img-bg {
  height: 40%;
  background-color: var(--bg-grey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.lot-title {
  font-family: var(--font-title);
  line-height: 1.2;
}

.lot-brand-artist {
  font-size: 1.2rem;
}

.lot-estimated-price {
  font-size: 1rem;
}

.wrap-normal {
  white-space: normal;
}

@media screen and (max-width: 576px) {
  .lot-title {
    font-size: calc(1rem + 3vw)
  }
}

@media screen and (min-width: 1200px) {
  .card {
    height: 620px;
  }
}


/* _____ BIDDING MODAL _____ */

.modal-lot-img {
  max-height: 30vh;
}

.modal .card-img-bg {
  height: 100%;
  max-height: 300px;
}

.modal-lot-details,
.modal-bidding-area {
  padding: 1rem;
  padding-bottom: 0;
}

.modal .input-bid {
  width: 100px;
}

@media (min-width: 768px) {
  .modal-dialog {
    max-width: 700px;
  }
}

@media (min-width: 992px) {
  .modal-dialog {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  .modal-dialog {
    max-width: 1100px;
  }
}


/* _____ REGISTER _____ */

.upper {
  text-transform: uppercase;
}

select {
  height: 58px;
}

label[for="first_name"] {
  left: 0.75rem;
}

label[for="newsletter"],
.password-instructions {
  font-size: smaller;
}

.password-instructions-rel {
  position: relative;
}

.password-instructions {
  display: none;
  position: absolute;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--bg-grey);
  border-radius: 0.25rem;
  padding: 0.45rem;
  z-index: 99;
  width: 80%;
  font-style: italic;
}

.password-instructions:before {
  border-bottom: 16px solid hsl(0deg 0% 80%);
  border-left: 12.5px solid hsl(0deg 0% 0% / 0%);
  border-right: 12.5px solid hsl(0deg 0% 0% / 0%);
  content: '';
  height: 0;
  position: absolute;
  left: 25px;
  top: -15.5px;
  width: 0;
  z-index: 98;
}

.password-instructions .fa-lock {
  padding: 0 8px;
}


/* _____ PROFILE _____ */

.user-details-actions {
  font-style: italic;
  margin-bottom: 0;
}

.user-details-actions a {
  color: var(--color-text);
}

.user-details-actions a:hover {
  color: var(--bg-highlight-dark);
}

.toast-delete {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: hsl(0, 0%, 100%, 100%);
}

.toast-delete .toast-header i {
  color: var(--bg-warning);
  padding-right: 10px;
}

.toast-delete .toast button:last-child {
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .toast-delete {
    width: 70%;
  }
}

@media screen and (min-width: 992px) {
  .toast-delete {
    width: fit-content;
  }
}

.fa-plus {
  margin-right: 12px;
}

#profile-my-lots p:last-child {
  margin-bottom: 0;
}

.modal-lot-actions button[type="submit"] {
  margin-right: 2%;
}

.addlot-rules {
  color: var(--bg-grey-darker);
  font-style: italic;
}

.euro-currency {
  padding: 0;
  align-self: center;
}


/* _____ FOOTER _____ */

.social {
  font-size: 2rem;
}

.social a {
  color: var(--font-body);
}

.social a i:hover {
  color: var(--bg-highlight-dark);
  transition: all 0.2s ease-in-out;
}

.social span {
  font-size: 1.5rem;
}

.copy-rel-sm {
  position: relative;
}

.copyright {
  position: absolute;
  width: max-content;
  left: 50%;
  bottom: -35px;
  transform: translate(-50%, -50%);
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .copy-rel-md {
    position: relative;
  }
  .copyright {
    font-size: 0.8rem;
    left: 115px;
    bottom: -50px;
  }
}


/* _____ FLASH MESSAGES _____ */

#flash_message {
  color: white;
}

#flash_message .far,
#flash_message .fas {
  font-size: 1.2rem;
  padding-right: 0.5rem;
}

#flash_message .fa-check-circle {
  color: var(--bg-validation);
}

#flash_message .fa-exclamation-circle {
  color: var(--bg-alert);
}

#flash_message .fa-trash {
  color: var(--bg-warning);
}

#flash_message .fa-hand-peace {
  color: var(--bg-grey);
}