{% extends "base.html" %}
{% block content %}

  <header class="header-title bg-dark p-3 mb-3 mb-md-5">
    <div class="d-flex flex-column flex-md-row align-lots-baseline text-md-start text-center">
      <div class="p-md-2 mx-auto">
        <h2 class="fw-bolder m-0">About</h2>
      </div>
    </div> 
  </header>

  <!-- How does it work? -->
  <section class="pb-3 pb-md-5">
    <div class="container px-4 mt-sm-5">
      <div class="row">
        <h1 i="howdoesitwork">How does it work?</h1>
        <p>It's pretty simple.</p>
        <p>First step is to <a href="{{ url_for('register') }}" class="link">create your account</a>. From there you can start bidding on lots and propose your own to be auctioned.</p>
        <p>If you want to add a lot, simply click on the "Propose a lot" button at the bottom of your profile page. From there, you will be prompt up to provide information about your item, such as a <i>Title</i>, the name of the <i>Artist</i> or <i>Brand</i> and your <i>Estimated Price</i>. The <i>Starting Price</i> will automatically be calculated from your decided <i>Estimated Price</i> (currently set to 10%), same for the <i>Reserve Price</i> (set to 50%). You won't be able to change these data afterwards so think it well. 
        We will also ask you to provide a picture of your item (format JPEG or PNG). For now, we kindly ask you to host it through any cloud service -such as <a href="https://imgbb.com/" class="link" target="_blank" rel="no-referrer">ImgBB</a>- and publish the URL. You will be able to preview your URL, so we are sure it is all working, and an error message will inform you if anything goes wrong otherwise. 
        Finally, select from which category your lot will be sold from.</p>
        <p>Our auctions are hold for a two weeks period, with a turnover of one week. Meaning, there are constantly two auctions running, with a change every week. You can consult the schedule from our Auctions link on the top of your screen. Obviously, you won't be able to bid on a lot if the auction hasn't started yet. Concerning your own lot, you can edit them by simply clicking the Edit button on each of them, or even delete them if you changed your mind. Be aware that these functionalities are unavailable once the auction has started.</p>
        <p>Your profile will help you keep track of things: it shows the lots you've bidden on (wether you're still the highest bidder or not), secondly your own lots to be sold and finally, the lots you've won or sold during one of our auction.</p>
        <p>When an auction is over, you will have to contact us in order to arrange the payment, wether you've been selling or buying lots. </p>
      </div>
    </div>
  </section>

{% endblock %}