<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="static/img/favicon.ico" />
    <!-- Bootstrap icons-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" type="text/css" />
    <!-- FontAwesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" type="text/css" />
    <!-- GlideJS Core & Theme CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.min.css" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.min.css" type="text/css" />
    <!-- Custom stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block style %}
    {% endblock %}
  </head>
  <body>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
      <div class="container px-4">
          <a class="navbar-brand" href="{{ url_for('index') }}"><img src="/static/img/logo.svg" alt="Logo Enchères Exclusives" class="logo" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Auctions</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <li><h5 class="dropdown-item">Current Auctions</h5></li>
                    <li><hr class="dropdown-divider" /></li>
                    {% for auction in current_auctions %}
                      <li>
                        <a class="dropdown-item" href="#!">
                          <div class="row align-items-center">
                            <div class="col-12 col-sm-5 pe-0">
                              {{ auction.category }}
                            </div>
                            <div class="col-12 col-sm-7 pe-0 nav-item-auction-date">
                              | Ends: {{ auction.date_end.strftime('%B %d, %Y') }}
                            </div>
                          </div>
                        </a>
                      </li>
                    {% endfor %}
                  </div>
                  <div class="col-12 col-md-6">
                    <li><h5 class="dropdown-item mt-3 mt-sm-0">Upcoming Auctions</h5></li>
                    <li><hr class="dropdown-divider" /></li>
                    {% for auction in upcoming_auctions %}
                      <li>
                        <a class="dropdown-item" href="#!">
                          <div class="row align-items-center">
                            <div class="col-12 col-sm-5 pe-0">
                              {{ auction.category }}
                            </div>
                            <div class="col-12 col-sm-7 pe-0 nav-item-auction-date">
                              | Starts: {{ auction.date_start.strftime('%B %d, %Y') }}
                            </div>
                          </div>
                        </a>
                      </li>
                    {% endfor %}
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">About</a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="row">
                  <div class="col-12 col-md-6">
                    <li><a class="dropdown-item" href="#!"><h5>Our History</h5></a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!"><h5>Locations</h5></a></li>
                    <li><a class="dropdown-item" href="#!">Paris</a></li>
                    <li><a class="dropdown-item" href="#!">Rome</a></li>
                    <li><a class="dropdown-item" href="#!">New York</a></li>
                    <li><a class="dropdown-item" href="#!">Tokyo</a></li>
                  </div>
                  <div class="col-12 col-md-6">
                    <li><a class="dropdown-item  mt-3 mt-sm-0" href="#!"><h5>How does it work?</h5></a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!"><h5>Auction Glossary</h5></a></li>
                  </div>
                </div>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" aria-current="page" href="#!">Contact</a></li>
          </ul>
          <!-- Cart feature 
          <form class="d-flex">
            <button class="btn btn-outline-dark" type="submit">
              <i class="bi-cart-fill me-1"></i>
              Cart
              <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
            </button>
          </form>
          -->
          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              {% if session.user %}
                <li class="nav-item sign-in-up-links"><a class="nav-link" aria-current="page" href="{{ url_for('profile', user_id=session['user']) }}">Profile</a> | <a class="nav-link" aria-current="page" href="{{ url_for('logout') }}">Log Out</a></li>
              {% else %}
                <li class="nav-item sign-in-up-links"><a class="nav-link" aria-current="page" href="{{ url_for('login') }}">Sign In</a>
                <span id="navbar-sign-in-up-divider">|</span>
                <a class="nav-link" aria-current="page" href="{{ url_for('register') }}">Sign Up</a></li>
              {% endif %}
              <li class="nav-item"><a class="nav-link" aria-current="page" href="#!"><i class="bi bi-search"></i> Search</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

{% block content %}
{% endblock %}

    <!-- Footer-->
    <footer class="py-3 bg-dark copy-rel-sm">
      <div class="container">
        <div class="container social">
          <span class="copy-rel d-block d-md-none text-center">Follow us
          </span>
          <div class="d-flex justify-content-around align-items-center">
            <span class="copy-rel-md d-none d-md-block">Follow us
              <p class="m-0 copyright">Copyright &copy; Enchères Exclusives 2021</p>
            </span>
            <a href="https://twitter.com/" target="_blank" rel="no-referrer"><i class="fab fa-twitter social-icon"></i></a>
            <a href="https://www.facebook.com/" target="_blank" rel="no-referrer"><i class="fab fa-facebook-square social-icon"></i></a>
            <a href="https://www.instagram.com/" target="_blank" rel="no-referrer"><i class="fab fa-instagram social-icon"></i></a>
            <a href="https://www.youtube.com/" target="_blank" rel="no-referrer"><i class="fab fa-youtube social-icon"></i></a>
            <a href="https://weibo.com/" target="_blank" rel="no-referrer"><i class="fab fa-weibo social-icon"></i></a>
          </div>
        </div>
      </div>
      <p class="m-0 copyright d-block d-md-none">Copyright &copy; Enchères Exclusives <span id="copyright"></span></p>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- GSAP JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"></script>
    <!-- Glide JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
    <!-- Custom scripts -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/glide.js') }}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>