{% extends "base.html" %}
{% block content %}

  <header class="header-title bg-dark p-3 mb-3 mb-md-5">
    <div class="d-flex flex-column flex-md-row align-lots-baseline text-md-start text-center">
      <div class="p-md-2 mx-auto">
        <h2 class="fw-bolder m-0">Contact Us</h2>
      </div>
    </div> 
  </header>

  <!-- Contact form -->
  <section class="pb-3 pb-md-5">
    <div class="container px-4 mt-sm-5">
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-7 col-lg-5 col-xl-4 mx-auto">
          <form method="POST" action="">
            <div class="row">
              <div class="col-md-4 mb-4 mb-md-0">
                <label for="title" class="visually-hidden">Title</label>
                <select class="form-select" id="title" name="title" required>
                  <option selected>Ms</option>
                  <option>Miss</option>
                  <option>Mrs</option>
                  <option>Mr</option>
                  <option>Dr</option>
                  <option>Lady</option>
                  <option>Sir</option>
                </select>
              </div>
              <div class="form-floating col-md-8">
                <input id="first_name" name="first_name" type="text" class="form-control" placeholder="First Name" required>
                <label for="first_name">First Name</label>
              </div>
            </div>
            <div class="form-floating mx-auto my-4">
              <input id="last_name" name="last_name" type="text" class="form-control" placeholder="Last Name" required>
              <label for="last_name">Last Name</label>
            </div>
            <div class="form-floating mx-auto mb-4">
              <input id="email" name="email" type="email" class="form-control" placeholder="name@example.com" required>
              <label for="email">Email</label>
            </div>
            <div class="form-floating mx-auto mb-4">
              <textarea id="users-message" name="users-message" class="form-control" placeholder="Your message"></textarea>
              <label for="users-message">Your message</label>
            </div>
            <div class="row">
              <button type="submit" class="col-8 col-sm-6 mx-auto mt-4 btn btn-bg-dark upper">
                Send
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section> 

{% endblock %}