{% extends "base.html" %}
{% block content %}

  <!-- Header hero-img -->
  <header class="hero-section bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Buy and sell with us</h1>
        <p class="lead fw-normal text-white-50 mb-0">Fine art, high-end items, luxury goods, real estate properties...</p>
        <p class="lead fw-normal text-white-50 mb-0">Trust our expertise.</p>
      </div>
    </div>
  </header>

  <section class="header-title bg-dark p-3 mb-3 mb-md-5">
    <div class="d-flex flex-column flex-md-row align-items-baseline text-md-start text-center">
      <div class="p-md-2 mx-auto">
        <h2 class="fw-bolder mb-md-0">Current Auction<span class="d-none d-md-inline"> |</span></h2>
      </div>
      <div class="p-md-2 flex-grow-1 mx-auto ">
        <h3 class="fw-bolder mb-md-0">Books, Letters & Manuscripts</h3>
      </div>
      <div class="p-md-2 mx-auto">
        <h6 class="mb-0">Ends: November 10th, 2021</h6>
      </div>
    </div> 
  </section>

  <section class="pb-3 pb-md-5">
    <div class="container px-4 mt-sm-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <!-- GlideJS slider -->
        <div class="glide mb-5">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              {% for item in items %}
                <div class="card">
                  <!-- Item image-->
                  <div class="card-img-bg">
                    <img class="card-img-top" src="{{ item.image_url }}" alt="{{ item.title }} from {{ item.brand_artist }}" />
                  </div>
                  <!-- Item details-->
                  <div class="card-body p-3">
                    <div class="text-center">
                      <!-- Title -->
                      <p class="item-title fw-bolder">{{ item.title }}</p>
                      <!-- Brand / Artist -->
                      <p class="item-brand-artist h5">{{ item.brand_artist }}</p>
                      <!-- Actual bid -->
                      <p class="item-actual-bid">Actual bid<br>
                      <span class="h4 fw-bolder">{{ item.actual_bid }}€</span></p>
                      <!-- Estimated price-->
                      <p class="item-estimated-price h6">Estimated price<br>
                      <span>{{ item.estimated_price }}€</span></p>
                    </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Place Bid</a></div>
                  </div>
                </div>
              {% endfor %}
            </ul>
          </div>
          <!-- Glide controllers -->
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<" role="navigation" alt="Go back to left slide">
              <i class="fas fa-chevron-circle-left"></i>
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">" role="navigation" alt="Go to right slide">
              <i class="fas fa-chevron-circle-right"></i>
            </button>
          </div>
        </div>

      </div>
    </div>
  </section>
  
{% endblock %}