{% extends "base.html" %}
{% block content %}

  <!-- Header hero-img -->
  <header class="hero-section bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Buy and sell with us</h1>
        <p class="lead fw-normal text-white-50 mb-0">Fine art, high-end items, luxury goods, real estate properties...</p>
        <p class="lead fw-normal text-white-50 mb-0">Trust our expertise.</p>
      </div>
    </div>
  </header>

  <!-- Auction details -->
  <section class="header-title bg-dark p-3 mb-3 mb-md-5">
    <div class="d-flex flex-column flex-md-row align-items-baseline text-md-start text-center">
      <div class="p-md-2 mx-auto">
        <h2 class="fw-bolder mb-md-0">Newest Auction<span class="d-none d-md-inline"> |</span></h2>
      </div>
      <div class="p-md-2 flex-grow-1 mx-auto ">
        <h3 class="fw-bolder mb-md-0">{{ newest_auction.category }}</h3>
      </div>
      <div class="p-md-2 mx-auto">
        <h6 class="mb-0">Ends: {{ newest_auction|date_end }} UTC</h6>
      </div>
    </div> 
  </section>

  <!-- Newest auction slider -->
  <section>
    <div class="container px-4 mt-sm-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <!-- GlideJS slider -->
        <div class="glide">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              {% for item in items_card %}
                <div class="card">
                  <!-- Item image-->
                  <div class="card-img-bg">
                    <img class="card-img-top" src="{{ item.image_url }}" alt="{{ item.title }} from {{ item.brand_artist }}" />
                  </div>
                  <!-- Item details-->
                  <div class="card-body wrap-normal text-center p-3">
                    <!-- Title -->
                    <h3 class="item-title fw-bolder">{{ item.title }}</h3>
                    <!-- Brand / Artist -->
                    <p class="item-brand-artist">{{ item.brand_artist }}</p>
                    <!-- Actual bid or Starting price -->
                    {% if item.actual_bid != 0 %}
                    <p class="item-actual-bid h6">Actual bid<br>
                    <span class="h4 fw-bolder">{{ item.actual_bid }}€</span></p>
                    {% else %}
                    <p class="item-starting-price h6">Starting price<br>
                    <span class="h4 fw-bolder">{{ item.starting_price }}€</span></p>
                    {% endif %}
                    <!-- Estimated price-->
                    <p class="item-estimated-price">Estimated price<br>
                    <span>{{ item.estimated_price }}€</span></p>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center">
                      <button class="btn btn-outline-dark mt-auto edit-modal-opener" data-bs-toggle="modal" data-bs-target="#modal-{{ item._id }}"> 
                        Place Bid
                      </button>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </ul>
          </div>
          <!-- Glide controllers -->
          <div class="glide__arrows" data-glide-el="controls">
            <button class="glide__arrow glide__arrow--left" data-glide-dir="<" role="navigation" alt="Go back to left slide">
              <i class="fas fa-chevron-circle-left"></i>
            </button>
            <button class="glide__arrow glide__arrow--right" data-glide-dir=">" role="navigation" alt="Go to right slide">
              <i class="fas fa-chevron-circle-right"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Bidding modal -->
  {% for item in items_modal %}
    <section class="modal fade" id="modal-{{ item._id }}" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="exampleModalLabel">Are you ready to bid?</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="row modal-body justify-content-center">
            <div class="col-12 col-sm-8 col-lg-4 modal-item-img">
              <div class="card-img-bg">
                <img class="card-img-top" src="{{ item.image_url }}" alt="{{ item.title }} from {{ item.brand_artist }}" />
              </div>
            </div>
            <div class="modal-item-details col-12 col-sm-6 col-lg-4 align-self-center">
              <p><strong>Item details</strong></p>
              <p>Title: {{ item.title }}</p>
              <p>Artist/Brand: {{ item.brand_artist }}</p>
              <p>Estimated price: {{ item.estimated_price }}€</p>
            </div>
            <div class="modal-bidding-area col-12 col-sm-6 col-lg-4 align-self-center">
              <form class="form" method="POST" action="{{ url_for('place_bid', item_id=item._id) }}">
                <p><strong>Bidding area</strong></p>
                <p>Actual bid: {{ item.actual_bid }}€</p>
                <p><strong>
                  <label for="user_bid_item-{{ item._id }}">Your bid:</label>
                  <input type="text" name="user_bid" id="user_bid_item-{{ item._id }}"> € 
                </strong></p>
                <div>
                  <button id="submit" type="submit" class="btn btn-bg-dark upper">Place bid</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endfor %}

  <!-- Newsletter subscription -->
  <section class="newsletter bg-dark">
    <div class="container px-4 mt-sm-5">
      <div class="row gx-4 gx-lg-5 py-4 text-center">
        <h3 class="m-0">Stay informed of our upcoming auctions</h3>
        <div class="col-md-7 col-lg-5 col-xl-4 mx-auto">
          <!-- Newsletter validation Flash message -->
          <section id="flash_message">
            {% with messages = get_flashed_messages() %}
              {% if messages %}
                {% for message in messages %}
                  <div class="row">
                    <div class="mt-4 mb-sm-0 mx-auto bg-color rounded-3">
                      <h4 class="text-center m-4">{{ message }}</h4>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
          </section>

          <form method="POST" action="{{ url_for('newsletter') }}">
            <div class="form-floating mx-auto my-4">
              <input id="email" name="email" type="email" class="form-control" placeholder="name@example.com" required>
              <label for="email">Email</label>
            </div>
            <div class="row">
              <div class="col-md-4 mb-4 mb-md-0">
                <label for="title" class="visually-hidden">Title</label>
                <select class="form-select" id="title" name="title" required>
                  <option selected>Ms</option>
                  <option>Miss</option>
                  <option>Mrs</option>
                  <option>Mr</option>
                  <option>Dr</option>
                  <option>Lady</option>
                  <option>Sir</option>
                </select>
              </div>
              <div class="form-floating col-md-8">
                <input id="first_name" name="first_name" type="text" class="form-control" placeholder="First Name" required>
                <label for="first_name">First Name</label>
              </div>
            </div>
            <div class="form-floating mx-auto my-4">
              <input id="last_name" name="last_name" type="text" class="form-control" placeholder="Last Name" required>
              <label for="last_name">Last Name</label>
            </div>
            <div class="row">
              <button type="submit" class="col-8 col-sm-6 mx-auto btn btn-bg-dark upper">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <hr class="divider mx-auto">
  
{% endblock %}