{% extends "base.html" %}
{% block content %}

  <!-- Header hero-img -->
  <header class="hero-section bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Buy and sell with us</h1>
        <p class="lead fw-normal text-white-50 mb-0">Fine art, high-end lots, luxury goods, real estate properties...</p>
        <p class="lead fw-normal text-white-50 mb-0">Trust our expertise.</p>
      </div>
    </div>
  </header>

  <!-- Auction details -->
  <section class="header-title bg-dark p-3 mb-3 mb-md-5">
    <div class="d-flex flex-column flex-md-row align-items-baseline text-md-start text-center">
      <div class="p-md-2 mx-auto">
        <h2 class="fw-bolder mb-md-0">Newest Auction<span class="d-none d-md-inline"> |</span></h2>
      </div>
      <div class="p-md-2 flex-grow-1 mx-auto ">
        <h3 class="fw-bolder mb-md-0">{{ newest_auction.category }}</h3>
      </div>
      <div class="p-md-2 mx-auto">
        <h6 class="mb-0">Ends: {{ newest_auction|date_end }} UTC</h6>
      </div>
    </div> 
  </section>

  <!-- Newest auction slider -->
  <section>
    <div class="container px-4 mt-sm-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <!-- GlideJS slider -->
        <div class="glide">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              {% for lot in lots %}
                {% include 'components/glide_slider.html' %}
              {% endfor %}
            </ul>
          </div>
          {% include 'components/glide_controllers.html' %}
        </div>
      </div>
    </div>
  </section>

  <!-- Bidding modal -->
  <section id="index-bidding-modal">
    {% for lot in lots %}
      {% include 'components/bidding_modal.html' %}
    {% endfor %}
  </section>

  <!-- Newsletter subscription -->
  <section class="newsletter bg-dark">
    <div class="container px-4 mt-sm-5">
      <div class="row gx-4 gx-lg-5 py-4 text-center">
        <h3 class="m-0">Stay informed of our upcoming auctions</h3>
        <div class="col-md-7 col-lg-5 col-xl-4 mx-auto">
          <form method="POST" action="{{ url_for('newsletter') }}">
            <div class="form-floating mx-auto my-4">
              <input id="email" name="email" type="email" class="form-control" placeholder="name@example.com" required>
              <label for="email">Email</label>
            </div>
            <div class="row">
              <div class="col-md-4 mb-4 mb-md-0">
                <label for="title" class="visually-hidden">Title</label>
                <select class="form-select" id="title" name="title" required>
                  <option selected>Ms</option>
                  <option>Miss</option>
                  <option>Mrs</option>
                  <option>Mr</option>
                  <option>Dr</option>
                  <option>Lady</option>
                  <option>Sir</option>
                </select>
              </div>
              <div class="form-floating col-md-8">
                <input id="first_name" name="first_name" type="text" class="form-control" placeholder="First Name" required>
                <label for="first_name">First Name</label>
              </div>
            </div>
            <div class="form-floating mx-auto my-4">
              <input id="last_name" name="last_name" type="text" class="form-control" placeholder="Last Name" required>
              <label for="last_name">Last Name</label>
            </div>
            <div class="row">
              <button type="submit" class="col-8 col-sm-6 mx-auto btn btn-bg-dark upper">
                Submit
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <hr class="divider mx-auto">
  
{% endblock %}