{% extends "base.html" %}
{% block content %}

  <header class="header-title bg-dark p-3 mb-3 mb-md-5">
    <div class="d-flex flex-column flex-md-row align-items-baseline text-md-start text-center">
      <div class="p-md-2 mx-auto">
        <h2 class="fw-bolder m-0">Login</h2>
      </div>
    </div> 
  </header>

  <section id="flash_message">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div class="row">
            <div class="col-sm-8 col-md-6 col-lg-4 mb-4 mb-sm-0 mx-auto bg-color rounded-3">
              <p class="text-center fs-5 m-4">{{ message }}</p>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
  </section>

  <section class="pb-3 pb-md-5">
    <div class="container px-4 mt-sm-5">
      <div class="row gx-4 gx-lg-5">
        <div class="col-md-7 col-lg-5 col-xl-4 mx-auto">
          <form method="POST" action="{{ url_for('login') }}">
            <div class="form-floating mx-auto mb-4">
              <input id="email" name="email" type="email" class="form-control" placeholder="name@example.com" required>
              <label for="email">Email</label>
            </div>
            <div class="form-floating mx-auto my-4">
              <input id="password" name="password" type="password" class="form-control" placeholder="Password" required>
              <label for="password">Password</label>
            </div>
            <div class="row">
              <button type="submit" class="col-8 col-sm-6 mx-auto mt-4 btn btn-bg-dark upper">
                Log In
              </button>
            </div>
          </form>
          <hr class="divider mx-auto">
          <div class="text-center">
            <p>Don't have an account yet?</p>
            <a href="{{ url_for('register') }}">
              <button class="col-6 col-sm-4 btn btn-bg-light upper">
                Sign Up
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section> 

{% endblock %}