{% extends "base.html" %}
{% block content %}

  <header class="header-title bg-dark p-3 mb-3 mb-md-5">
    <div class="d-flex flex-column flex-md-row align-items-baseline text-md-start text-center">
      <div class="p-md-2 mx-auto">
        <h2 class="fw-bolder m-0">Welcome {{ title|capitalize }} {{ last_name|capitalize }}</h2>
      </div>
    </div> 
  </header>

  <section class="pb-3 pb-md-5">
    <div class="container px-4 mt-sm-5">
      <form class="row user-details">
        <label><strong>Full name</strong>
          <br>
          {{ title|capitalize }} {{ first_name|capitalize }} {{ last_name|capitalize }}
        </label>
        <label><strong>Email</strong>
          <br>
          {{ email }}
        </label>
        <label><strong>Password</strong>
          <br>
          *********
        </label>
        <p class="user-details-actions">Edit / Delete</p>
      </form>
    </div>
  </section>

{% endblock %}