{% extends "base.html" %}
{% block content %}

  <header class="header-title bg-dark p-3 mb-3 mb-md-5">
    <div class="d-flex flex-column flex-md-row align-lots-baseline text-md-start text-center">
      <div class="p-md-2 mx-auto">
        <h2 class="fw-bolder m-0">Welcome {{ user.title|capitalize }} {{ user.last_name|title }}</h2>
      </div>
    </div> 
  </header>

  <!-- User's details -->
  <section class="pb-3 pb-md-5">
    <div class="container px-4 mt-sm-5">
      <div class="row user-details">
        <p><strong>Full name</strong>
          <br>
          {{ user.title|capitalize }} {{ user.first_name|title }} {{ user.last_name|title }}
        </p>
        <p><strong>Email</strong>
          <br>
          {{ user.email }}
        </p>
        <p><strong>Password</strong>
          <br>
          *********
        </p>
        <!-- User's profile actions -->
        <p class="user-details-actions"><a href="{{ url_for('edit_profile', user=session.user)}}">Edit</a> / <a href="#" id="delete-profile" class="delete-toast">Delete</a></p>
      </div>
    </div>
  </section>

  <!-- Profile deletion confirmation -->
  <section id="delete-profile-confirmation" class="toast toast-delete p-3" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <i class="fas fa-exclamation-triangle"></i>
      <strong class="me-auto">Confirmation</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      <p>Dear {{ title|capitalize }} {{ last_name|title }},</p>
      <p>Are you sure you want to delete your profile?</p>
      <p>All your data will be deleted, which includes <u>your potential bids</u> and <u>lots to be sold</u>.</p>
      <p>This action is irrevocable.</p>
      <div class="mt-2 pt-2 border-top">
        <button type="button" class="btn btn-bg-light btn-sm upper" data-bs-dismiss="toast">Cancel</button>
        <a href="{{ url_for('delete_profile') }}">
          <button type="button" class="btn btn-delete btn-sm upper">Delete</button>
        </a>
      </div>
    </div>
  </section>

  <!-- User's lots to be sold -->
  <section id="profile-my-lots">
    <div class="header-title bg-dark p-3 mb-3 mb-md-5">
      <div class="d-flex flex-column flex-md-row align-lots-baseline text-md-start text-center">
        <div class="p-md-2 mx-auto">
          <h2 class="fw-bolder m-0">My Lots</h2>
        </div>
      </div> 
    </div>
    <div class="pb-3 pb-md-5">
      <div class="container px-4 mt-sm-5">
        <div class="row">
          {% if user_lots|length > 0 %}
            <!-- GlideJS slider -->
            <div class="glide">
              <div class="glide__track" data-glide-el="track">
                <ul class="glide__slides">
                  {% for lot in user_lots %}
                    {% include 'components/glide-slider.html' %}
                  {% endfor %}
                </ul>
              </div>
              {% include 'components/glide-controllers.html' %}
            </div>
          {% endif %}
          <div class="row">
            <p>Do you want to sell something?<br>
              <a href="#" class="link">Discover how it works</a> or 
              <a href="#" class="btn btn-outline-dark btn-bg-dark mt-auto" data-bs-toggle="modal" data-bs-target="#new-lot-modal">
                <i class="fas fa-plus"></i>Propose a lot
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Lot actions -->
  <section>
    <!-- Lot edit modal -->
    {% for lot in user_lots %}
      <section class="modal fade" id="edit-modal-{{ lot._id }}" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Edit your lot</h4>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="form" method="POST" action="">
              <div class="row modal-body justify-content-center">
                <div class="col-12 col-sm-8 col-lg-4 modal-lot-img">
                  <div class="card-img-bg">
                    <img id="addlot-imagepreview" class="card-img-top" src="{{ lot.image_url }}" alt="{{ lot.title }} by {{ lot.brand_artist }}" />
                  </div>
                  <p class="addlot-rules">Image preview</p>
                </div>
                <div class="modal-lot-details col-12 col-lg-8 align-self-center">
                  <p><strong>Lot details</strong></p>
                  <div class="row">
                    <div class="col-12 col-sm-6">
                      <div class="form-floating">
                        <input id="addlot-title" name="addlot-title" type="text" maxlenght="50" class="form-control" placeholder="Title" required>
                        <label for="addlot-title">Title</label>
                        <p class="addlot-rules">Max 50 characters</p>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="form-floating">
                        <input id="addlot-artistbrand" name="addlot-artistbrand" type="text" maxlenght="50" class="form-control" placeholder="Artist or Brand" required>
                        <label for="addlot-artistbrand">Artist or Brand</label>
                        <p class="addlot-rules">Max 50 characters</p>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="row">
                        <div class="col-11">
                          <div class="form-floating">
                            <input id="addlot-estimatedprice" name="addlot-estimatedprice" type="number" maxlenght="12" class="form-control" placeholder="Estimated Price" step="10" required>
                            <label for="addlot-estimatedprice">Estimated Price</label>
                          </div>
                        </div>
                        <div class="col-1 euro-currency">€</div>
                        <p class="addlot-rules">Max 12 digits, multiple of 10</p>
                      </div>
                    </div>
                    <div class="col-12 col-sm-6">
                      <div class="row">
                        <div class="col-11">
                          <div class="form-floating">
                            <input id="addlot-startingprice" name="addlot-startingprice" type="number" class="form-control" placeholder="Starting Price" disabled readonly>
                            <label for="addlot-startingprice">Starting Price</label>
                          </div>
                        </div>
                        <div class="col-1 euro-currency">€</div>
                        <p class="addlot-rules">Set to 10% of the Estimated Price</p>
                      </div>
                    </div>
                    <div class="col-12 col-sm-8">
                      <div class="form-floating">
                        <input id="addlot-imageurl" name="addlot-imageurl" type="url" class="form-control" placeholder="Image URL" required>
                        <label for="addlot-imageurl">Image URL</label>
                        <p class="addlot-rules">JPEG or PNG images only</p>
                      </div>
                    </div>
                    <div class="col-12 col-sm-4">
                      <label for="addlot-category" class="visually-hidden">Auction's Category</label>
                      <select class="form-select" id="addlot-category" name="addlot-category" required>
                        <option disabled>Category</option>
                        {% for category in categories %}
                          <option>{{ category.category }}</option>
                        {% endfor %}
                      </select>
                      <p class="addlot-rules">Choose the lot's category</p>
                    </div>
                    <div class="modal-addlot-actions">
                      <button type="submit" class="btn btn-bg-dark upper" disabled>Submit your lot</button>
                      <button type="button" class="btn btn-bg-light upper" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </section>
    {% endfor %}
    <!-- Lot deletion confirmation -->
    {% for lot in user_lots %}
      {% include 'components/delete-lot-confirmation.html' %}
    {% endfor %}
  </section>

  <!-- Add a lot modal -->
  <section class="modal fade" id="new-lot-modal" tabindex="-1" role="dialog" aria-labelledby="FormModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Add a new lot for auction</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form class="form" method="POST" action="{{ url_for('add_lot') }}">
          <div class="row modal-body justify-content-center">
            <div class="col-12 col-sm-8 col-lg-4 modal-lot-img">
              <div class="card-img-bg">
                <img id="addlot-imagepreview" class="card-img-top" src="{{ url_for('static', filename='img/no_pic.jpg')}}" alt="Question mark drawing, as there's no picture input yet" />
              </div>
              <p class="addlot-rules">Image preview</p>
            </div>
            <div class="modal-lot-details col-12 col-lg-8 align-self-center">
              <p><strong>Lot details</strong></p>
              <div class="row">
                <div class="col-12 col-sm-6">
                  <div class="form-floating">
                    <input id="addlot-title" name="addlot-title" type="text" maxlenght="50" class="form-control" placeholder="Title" required>
                    <label for="addlot-title">Title</label>
                    <p class="addlot-rules">Max 50 characters</p>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="form-floating">
                    <input id="addlot-artistbrand" name="addlot-artistbrand" type="text" maxlenght="50" class="form-control" placeholder="Artist or Brand" required>
                    <label for="addlot-artistbrand">Artist or Brand</label>
                    <p class="addlot-rules">Max 50 characters</p>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="row">
                    <div class="col-11">
                      <div class="form-floating">
                        <input id="addlot-estimatedprice" name="addlot-estimatedprice" type="number" maxlenght="12" class="form-control" placeholder="Estimated Price" step="10" required>
                        <label for="addlot-estimatedprice">Estimated Price</label>
                      </div>
                    </div>
                    <div class="col-1 euro-currency">€</div>
                    <p class="addlot-rules">Max 12 digits, multiple of 10</p>
                  </div>
                </div>
                <div class="col-12 col-sm-6">
                  <div class="row">
                    <div class="col-11">
                      <div class="form-floating">
                        <input id="addlot-startingprice" name="addlot-startingprice" type="number" class="form-control" placeholder="Starting Price" disabled readonly>
                        <label for="addlot-startingprice">Starting Price</label>
                      </div>
                    </div>
                    <div class="col-1 euro-currency">€</div>
                    <p class="addlot-rules">Set to 10% of the Estimated Price</p>
                  </div>
                </div>
                <div class="col-12 col-sm-8">
                  <div class="form-floating">
                    <input id="addlot-imageurl" name="addlot-imageurl" type="url" class="form-control" placeholder="Image URL" required>
                    <label for="addlot-imageurl">Image URL</label>
                    <p class="addlot-rules">JPEG or PNG images only</p>
                  </div>
                </div>
                <div class="col-12 col-sm-4">
                  <label for="addlot-category" class="visually-hidden">Auction's Category</label>
                  <select class="form-select" id="addlot-category" name="addlot-category" required>
                    <option disabled>Category</option>
                    {% for category in categories %}
                      <option>{{ category.category }}</option>
                    {% endfor %}
                  </select>
                  <p class="addlot-rules">Choose the lot's category</p>
                </div>
                <div class="modal-addlot-actions">
                  <button type="submit" class="btn btn-bg-dark upper" disabled>Submit your lot</button>
                  <button type="button" class="btn btn-bg-light upper" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>

{% endblock %}