<div id="delete-lot-confirmation-{{ lot._id }}" class="toast toast-delete p-3" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <i class="fas fa-exclamation-triangle"></i>
    <strong class="me-auto">Confirmation</strong>
    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    <p>Dear {{ user.title|capitalize }} {{ user.last_name|title }},</p>
    <p>Are you sure you want to delete this lot?</p>
    <p>Lot: {{ lot.title }} by {{ lot.brand_artist }}</p>
    <p>All the lot data will be deleted, which includes potential bids.</p>
    <p>This action is irrevocable.</p>
    <div class="mt-2 pt-2 border-top">
      <button type="button" class="btn btn-bg-light btn-sm upper" data-bs-dismiss="toast">Cancel</button>
      <a href="{{ url_for('delete_lot', lot_id=lot._id) }}">
        <button type="button" class="btn btn-delete btn-sm upper">Delete</button>
      </a>
    </div>
  </div>
</div>