<div class="card">
  <!-- Item image-->
  <div class="card-img-bg">
    <img class="card-img-top" src="{{ item.image_url }}" alt="{{ item.title }} from {{ item.brand_artist }}" />
  </div>
  <!-- Item details-->
  <div class="card-body wrap-normal text-center p-3">
    <!-- Title -->
    <h3 class="item-title fw-bolder">{{ item.title }}</h3>
    <!-- Brand / Artist -->
    <p class="item-brand-artist">{{ item.brand_artist }}</p>
    <!-- Actual bid or Starting price -->
    {% if item.actual_bid != 0 %}
    <p class="item-actual-bid h6">Actual bid<br>
    <span class="h4 fw-bolder">{{ item.actual_bid }}€</span></p>
    {% else %}
    <p class="item-starting-price h6">Starting price<br>
    <span class="h4 fw-bolder">{{ item.starting_price }}€</span></p>
    {% endif %}
    <!-- Estimated price-->
    <p class="item-estimated-price">Estimated price<br>
    <span>{{ item.estimated_price }}€</span></p>
  </div>
  <!-- Product actions-->
  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center">
      {% if session.user %}
        {% if session.user == item.created_by %}
          <button class="btn btn-actions btn-edit" data-bs-toggle="modal" data-bs-target="#edit-modal-{{ item._id }}" aria-label="Edit your item {{ item.title }} by {{ item.brand_artist }}">
            <i class="far fa-edit"></i>
          </button>
          <button class="btn btn-actions btn-delete" aria-label="Delete your item {{ item.title }} by {{ item.brand_artist }}">
            <i class="far fa-trash-alt"></i>
          </button>
        {% else %}
        <a class="btn btn-outline-dark btn-bg-dark upper mt-auto edit-modal-opener" data-bs-toggle="modal" data-bs-target="#bidding-modal-{{ item._id }}"> 
          Place Bid
        </a>
        {% endif %}
      {% else %}
        <a href="{{ url_for('login') }}" class="btn btn-outline-dark btn-bg-dark upper mt-auto edit-modal-opener"> 
          Place Bid
        </a>
      {% endif %}
    </div>
  </div>
</div>