<div class="card">
  <!-- Lot image-->
  <div class="card-img-bg">
    <img class="card-img-top" src="{{ lot.image_url }}" alt="{{ lot.title }} from {{ lot.brand_artist }}" />
  </div>
  <!-- Lot details-->
  <div class="card-body wrap-normal text-center p-3">
    <!-- Title -->
    <h3 class="lot-title fw-bolder">{{ lot.title }}</h3>
    <!-- Brand / Artist -->
    <p class="lot-brand-artist">{{ lot.brand_artist }}</p>
    <!-- Actual bid or Starting price -->
    {% if lot.highest_bid != 0 %}
    <p class="lot-actual-bid h6">Actual bid<br>
    <span class="h5 fw-bolder">{{ lot.highest_bid|price_format }}€</span></p>
    {% else %}
    <p class="lot-starting-price h6">Starting price<br>
    <span class="h5 fw-bolder">{{ lot.starting_price|price_format }}€ </span></p>
    {% endif %}
    <!-- Estimated price-->
    <p class="lot-estimated-price">Estimated price<br>
    <span>{{ lot.estimated_price|price_format }}€</span></p>
  </div>
  <!-- Product actions-->
  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
    <div class="text-center">
      {% if session.user %}
      <!-- Display different buttons depending if the user is logged-in, owning the lot, being the highest bidder... -->
        {% if session.user == lot.created_by %}
        <!-- Display Edit & Delete buttons if the lot belongs to the user -->
          {% if lot.category in running_categories %}
            <!-- Disable these buttons if the auction is running at the moment -->
            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="❌ Sorry, you can no longer edit your item once the auction is running">
              <button class="btn btn-actions btn-edit" disabled>
                <i class="far fa-edit"></i>
              </button>
            </span>
            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="❌ Sorry, you can no longer delete your item once the auction is running">
              <button class="btn btn-actions btn-delete delete-toast" disabled>
                <i class="far fa-trash-alt"></i>
              </button>
            </span>
            {% else %}
            <!-- Enable the buttons -->
            <button class="btn btn-actions btn-edit" data-bs-toggle="modal" data-bs-target="#edit-modal-{{ lot._id }}" aria-label="Edit your lot {{ lot.title }} by {{ lot.brand_artist }}">
              <i class="far fa-edit"></i>
            </button>
            <button class="btn btn-actions btn-delete delete-toast" id="delete-lot-{{ lot._id }}" aria-label="Delete your lot {{ lot.title }} by {{ lot.brand_artist }}">
              <i class="far fa-trash-alt"></i>
            </button>
          {% endif %}
        {% elif session.user == lot.sold_created_by %}
        <!-- Display the sold Sold button -->
          <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="💰 Contact us to organize the payment">
            <a href="{{ url_for('contact') }}">
              <button class="btn upper btn-sold">
                Sold!
              </button>
            </a>
          </span>
        {% elif session.user == lot.final_bidder %}
        <!-- Display the sold Winner button -->
          <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="💸 Contact us to organize the payment">
            <a href="{{ url_for('contact') }}">
              <button class="btn upper btn-winner">
              You won!
              </button>
            </a>
          </span>
        {% else %}
          {% if session.user == lot.actual_bidder %}
          <!-- Disable the Place Bid button if the user is currently the highest bidder -->
            <span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" title="You can't outbid yourself &#128521;">
              <button class="btn btn-bg-dark upper mt-auto edit-modal-opener" disabled> 
                Place Bid
              </button>
            </span>
          {% else %}
          <!-- Enable it otherwise -->
            <a class="btn btn-bg-dark upper mt-auto edit-modal-opener" data-bs-toggle="modal" data-bs-target="#bidding-modal-{{ lot._id }}"> 
              Place Bid
            </a>
          {% endif %}
        {% endif %}
      {% else %}
      <!-- Send the user to the Login page if they are not logged in -->
        <a href="{{ url_for('login') }}" class="btn btn-outline-dark btn-bg-dark upper mt-auto edit-modal-opener"> 
          Place Bid
        </a>
      {% endif %}
    </div>
  </div>
</div>